.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.main-content {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f9;
  background-image: url("./background.png");
}

.app-header {
  background-color: #1a2d2d;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.app-footer {
  background-color: #5f7e7e;
  color: white;
  text-align: center;
  padding: 10px;
}

.app-sidebar {
  width: 170px;
  background-color: #1a292a;
  color: white;
  padding: 20px;
}

.app-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.app-sidebar ul li {
  margin-bottom: 10px;
}

.app-sidebar ul li a {
  color: rgb(233, 219, 207);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin: 15px;
}

.app-sidebar ul li a:hover {
  background-color: #0f7373;
}

.dashboard, .tracking, .order-list {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}
.products{
  background-color: #546c6e;
  height:150px;
  width: 250px;
  justify-items: center;
  
}
.pro{
  float:inline-start;
}
.map{
  justify-self: center;
  margin: 50;

}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
  margin-right: 10px;

}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.dashboard{
  padding: 20px;
  margin: 30px ;
  border-radius:20px;
  justify-content: center;
  justify-items: center;
}

.btns{
  size: 60px;
  background-color: #0f7373;
  color: white;
  padding: 50px;
  margin: 60px;
  justify-self:center;
  font-size: large;
  font-weight:bold;
}
.form{
  background-color: #0f7373;
  padding: 30px;
  margin-left:40px ;
  width: 500px;
  height: 450px;
  border-radius: 20px;
  font-weight: bold;
  color:black;
}

.field{
  padding:5px;
  height: 50px;
  margin:20px;

}
.submit{
  margin: 40px; 
}
.status{
  background-color:#084e53;
}

